body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: #666666;
    background: #f2f2f2;
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-family: Arial, Verdana, sans-serif;
    font-style: italic;
    font-size: 2.3em;
    line-height: 1.4em;
    text-align: center;
    font-weight: 600;
}

p {
    margin: 1.5em 1em 0em 1em;
    text-align: justify;
    padding-bottom: 1.5em;
}

img {
    display: block;
    left: 0;
    padding-top: 1em;
    width: 100%;
    height: auto;
}

.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-timing-function: ease-out;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider input[type="radio"] {
    z-index: 50;
}

.slider input[type="radio"]:checked ~ img[alt=id] {
    animation: cambio 20s infinite;
}

#rbtns{
    /*display: flex;
    justify-content: center;*/
    position:absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    -webkit-transform: translate(-50%, -90%);
}


@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}