<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section id="mainContent">
        <article>
            <header>
                <h1> LA PÁGINA DE D10S </h1>
            </header>

            <img src="./assets/imagenes/messi.jpg" alt="imgMessi1">

            <div class="content">
                <p> Messi es un jugador Argentino que se desempena en el Futbol Club Barcelona como delantero. Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina. Messi es un
                    jugador Argentino que se desempena en el Futbol Club Barcelona como delantero. Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina. Messi es un jugador
                    Argentino que se desempena en el Futbol Club Barcelona como delantero. Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina. Messi es un jugador Argentino
                    que se desempena en el Futbol Club Barcelona como delantero. Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina. Messi es un jugador Argentino que se
                    desempena en el Futbol Club Barcelona como delantero. Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina. Messi es un jugador Argentino que se desempena
                    en el Futbol Club Barcelona como delantero. Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina. Messi es un jugador Argentino que se desempena en el
                    Futbol Club Barcelona como delantero. Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina. Messi es un jugador Argentino que se desempena en el Futbol
                    Club Barcelona como delantero. Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina. Messi es un jugador Argentino que se desempena en el Futbol Club Barcelona
                    como delantero. Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina. Messi es un jugador Argentino que se desempena en el Futbol Club Barcelona como delantero.
                    Nacio en 1987, en la ciudad de Rosario y su idolo es el multifacetico joven Augusto De Lisio de Sargento Cabral, Santa Fe, Argentina.
                </p>
            </div>
        </article>
    </section>
</body>

</html>