<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header id="mainHeader">
        <a id="logoHeader" href="#">
            <span class="siteName"> EL MESSIAS </span>
            <span class="siteDesc"> La pagina de Messi </span>
        </a>

        <nav>
            <ul>
                <li><a href="#"> Estadisticas </a> </li>
                <li><a href="../logros/logros.component.html"> Logros </a> </li>
                <li><a href="#"> Información personal </a> </li>
            </ul>
        </nav>
    </header>
</body>

</html>